/* Code example blocks */
#react-tabs-1, #react-tabs-3, #react-tabs-5, #react-tabs-7, button.bOpcgj {
  background-color: #1D2D52;
  border-radius: 10px;
}

/* Hide OpenAPI header and description */
.api-info {
  display: none;
}

.sc-eDDNvR.dwDhuh {
  display: none;
}

/* Post button */
.http-verb.post {
 border-radius: 4px;
 color: var(--primary);
 background-color: var(--primary-light);
}

/* Request Body Schema header text */
h5.eLjKpN {
  color: var(--grey-darker);
  font-weight: 600;
}

h5.eLjKpN > span {
  color: var(--grey-dark);
  font-weight: 400;
}

/* Endpoint sub header */
h2.xewZN { 
  display: none;
}

/* Endpoijt sub header desription */
.fndPYm > p {
  display: none;
}

/* Failure code buttons */
.kgoSle > ul > li.tab-error {
  color: var(--secondary);
  background-color: #FCEFEF;
  border-color: #FCEFEF;
}

/* Success code button */
.kgoSle > ul > li.tab-success {
  color: #00762B;
  background-color: #EDF5F0;
  border-color: #00762B;
}