
:root {
  --primary: #2953A6;
  --primary-dark: #315280;
  --primary-darker: #1D2D52;
  --secondary: #DC140A;
  --secondary-yellow: #FABC40;
  --secondary-green: #62D9C5;
  --grey-lighter: #F7F9FC;
  --grey-light: #DFE8F7;
  --grey-mid: #C3CAD9;
  --grey-dark: #475166;
  --grey-darker: #232C40;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey-dark);
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}

a:hover {
  color: var(--primary);
  opacity: 0.8;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
}

.link-text {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.body-text {
  font-size: 14px;
  font-weight: 500;
}

.primary-text {
  color: var(--primary);
}

.right-arrow {
  font-size: 12px;
  -webkit-text-stroke: 1px;
}

.image {
  width: 100%;
}