
.navbar {
  background-color: var(--grey-lighter);
  border-bottom: 1px solid var(--grey-mid);
  height: 130px;
}

.logo-text {
  color: var(--primary);
  font-weight: 800;
  font-size: 22px; 
}

.nav-link {
  margin-right: 10px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  text-align: center;
}

.nav-link:hover {
  color: var(--primary) !important;
  text-shadow: 0px 0px 1px var(--primary), 0px 0px 1px var(--primary);
}

.nav-link::before {
  content: "";
  transition: 300ms;
  height: 2px;
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  width: 100%;
  bottom: -3px;
}

.nav-link:hover::before {
  content: "";
  height: 2px;
  bottom: -3px;
}