
.navbar {
  background-color: var(--grey-lighter);
  border-bottom: 1px solid var(--grey-mid);
  height: 130px;
}

.logo-text {
  color: var(--primary);
  font-weight: 800;
  font-size: 22px; 
}

.nav-link {
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: var(--primary) !important;
  font-weight: 700;
}

.nav-link::before {
  transition: 100ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: var(--primary);
  height: 0%;
  width: 100%;
  bottom: -3px;
  font-weight: bold;
}

.nav-link:hover::before {
  height: 2px;
  bottom: -3px
}