.connect-banner {
  padding: 20px;
  border-radius: 6px;
  background-color: var(--grey-lighter);
  border: 1px solid var(--grey-mid);
}

.sidebar {
  height: 100%;
  border-right: 1px solid var(--grey-mid);
}

.sidebar-link {
  color: var(--grey-dark);
  font-size: 14px;
  font-weight: 500;
}

.sidebar-link:hover {
  color: var(--grey-darker)
}

.sidebar-link.active {
  font-weight: 700;
  color: var(--primary);
}

.sidebar-item {
  padding: 25px 60px;
}

.sidebar-border {
  border-bottom: 1px solid var(--grey-mid);
}